@include b(screen-disign) {
    user-select: none;
    overflow: hidden;
    @include e(body) {
        display: flex;
        height: calc(100vh - 51px);
        position: relative;
        @include m(center) {
            position: relative;
            flex: 1;
            padding: 0 300px 0 200px;
            overflow: hidden;
            transition: all .25s ease 0s;
            .body {
                position: relative;
                width: 100%;
                height: calc(100% - 30px);
                overflow: auto;
                box-sizing: border-box;
                background-color: #282828;
                border-bottom: 1px solid #000;
                .elements-wrap {
                    width: 5000px;
                    height: 3000px;
                    background: url('../../../../../assets/image/report/canvas-bg.png') repeat;
                    overflow: hidden;
                }
            }
            .footer {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 15px;
                color: rgba(255, 255, 255, .6)
            }
            .grid {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }
    }
}