@include b(screen-disign) {
    user-select: none;
    @include e(body) {
        display: flex;
        height: calc(100vh - 50px);
        @include m(center) {
            position: relative;
            flex: 1;
            padding: 16px 0 0 16px;
            background-color: #282828;
        }
    }
}